div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
.userFilters {
    font-size: smaller;
    width: 48em;
    height: 40em;
    white-space: pre;
    text-align: left;
    }
