language: ruby
sudo: false
env:
  matrix:
  - BROWSER=chromium EXT=zip
  - BROWSER=firefox EXT=xpi
  - BROWSER=thunderbird EXT=xpi
script: "./tools/make-${BROWSER}.sh ${TRAVIS_TAG}"
deploy:
  provider: releases
  prerelease: true
  api_key:
    secure: EnAMNsPbnS2I0JDkCWiY/6WLERsUbE2Ni5j9ap8YbZt4+sJv7aSoufWZ+0TZvSwr/w5MKCCDKhwXaPfbUwvqrI+eZv6LBXhwajK9Zla25FVjtdGCwKXQ3ZU85PHgL+5FYtuSGACmQj/ruAdSgrI7PgS08e5lqSgEk6lY4y3/6fE=
  file: dist/build/adnauseam.${BROWSER}.${EXT}
  skip_cleanup: true
  on:
    repo: dhowe/AdNauseam
    tags: true
    all_branches: true
