<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Author</key>
    <string>Chris Aljoudi/Raymond Hill</string>
    <key>Builder Version</key>
    <string>534.57.2</string>
    <key>CFBundleDisplayName</key>
    <string>{name}</string>
    <key>CFBundleIdentifier</key>
    <string>com.el1t.uBlock</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>{version}</string>
    <key>CFBundleVersion</key>
    <string>{buildNumber}</string>
    <key>Chrome</key>
    <dict>
        <key>Context Menu Items</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>uBlock0-blockElement</string>
                <key>Title</key>
                <string>Block Element</string>
            </dict>
        </array>
        <key>Database Quota</key>
        <real>104857600</real>
        <key>Global Page</key>
        <string>background.html</string>
        <key>Popovers</key>
        <array>
            <dict>
                <key>Filename</key>
                <string>popup.html</string>
                <key>Identifier</key>
                <string>popover</string>
            </dict>
        </array>
        <key>Toolbar Items</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>toolbarItem</string>
                <key>Image</key>
                <string>img/browsericons/safari-icon16.png</string>
                <key>Label</key>
                <string>{name}</string>
                <key>Palette Label</key>
                <string>{name}</string>
                <key>Popover</key>
                <string>popover</string>
                <key>Tool Tip</key>
                <string>{name} {version}</string>
            </dict>
        </array>
    </dict>
    <key>Content</key>
    <dict>
        <key>Scripts</key>
        <dict>
            <key>Start</key>
            <array>
                <string>js/vapi-client.js</string>
                <string>js/contentscript.js</string>
            </array>
        </dict>
        <key>Whitelist</key>
        <array>
            <string>http://*/*</string>
            <string>https://*/*</string>
        </array>
    </dict>
    <key>Description</key>
    <string>{description}</string>
    <key>ExtensionInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>Permissions</key>
    <dict>
        <key>Website Access</key>
        <dict>
            <key>Include Secure Pages</key>
            <true/>
            <key>Level</key>
            <string>All</string>
        </dict>
    </dict>
    <key>Website</key>
    <string>https://www.github.com/el1t/uBlock-Safari</string>
</dict>
</plist>
