<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Extension Updates</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.el1t.uBlock</string>
				<key>Developer Identifier</key>
				<string>3NU33NW2M3</string>
				<key>CFBundleShortVersionString</key>
				<string>{version}</string>
				<key>CFBundleVersion</key>
				<string>{buildNumber}</string>
				<key>URL</key>
				<string>https://raw.githubusercontent.com/el1t/uBlock-Safari-releases/master/uBlock0.safariextz</string>
			</dict>
		</array>
	</dict>
</plist>
