#dashboard-nav {
    background-color: var(--surface-1);
    border: 0;
    border-bottom: 1px solid var(--border-1);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0;
    }
.tabButton {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: var(--dashboard-tab-ink);
        fill: var(--dashboard-tab-ink);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding: 0.7em 1.4em calc(0.7em - 3px);
    text-decoration: none;
    white-space: nowrap;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:hover {
    background-color: var(--dashboard-tab-hover-surface);
    border-bottom-color: var(--dashboard-tab-hover-border);
    }

body[data-pane="settings"] #dashboard-nav .tabButton[data-pane="settings"],
body[data-pane="rulesets"] #dashboard-nav .tabButton[data-pane="rulesets"],
body[data-pane="about"] #dashboard-nav .tabButton[data-pane="about"] {
    background-color: var(--dashboard-tab-active-surface);
    border-bottom: 3px solid var(--dashboard-tab-active-ink);
    color: var(--dashboard-tab-active-ink);
        fill: var(--dashboard-tab-active-ink);
    }

body > section {
    display: none;
    overflow: auto;
    padding-bottom: 8rem;
    }
body[data-pane="settings"] > section[data-pane="settings"],
body[data-pane="rulesets"] > section[data-pane="rulesets"],
body[data-pane="about"] > section[data-pane="about"] {
    display: block;
    }

/* high dpi devices */
:root.hidpi .tabButton {
    font-family: Metropolis, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    }

/* touch-screen devices */
:root.mobile #dashboard-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    }
:root.mobile #dashboard-nav .logo {
    display: none;
    }
