 /* External CSS values override */
.fa-icon.fa-icon-badged > .fa-icon-badge {
    bottom: auto;
    top: -20%;
    }

:root {
    --popup-min-width: calc(
        var(--filtering-mode-slider-width) +
        var(--filtering-mode-button-size) / 2
    );
}

:root body,
:root.mobile body {
    --font-size: 15px;
    --popup-gap: var(--font-size);
    --popup-gap-thin: calc(0.5 * var(--popup-gap));
    --popup-gap-extra-thin: calc(0.25 * var(--popup-gap));
    font-size: var(--font-size);
    min-width: var(--popup-min-width);
    }
:root body.loading {
    visibility: hidden;
    }
a {
    color: var(--ink-1);
        fill: var(--ink-1);
    text-decoration: none;
    }
:focus {
    outline: 0;
    }

#main {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    }
:root.portrait #main {
    align-self: inherit;
    }
hr {
    margin: 0.5em 0;
    }

#hostname {
    align-items: center;
    background-color: var(--popup-toolbar-surface);
    display: flex;
    justify-content: center;
    min-height: calc(var(--font-size) * 3);
    padding: 0 var(--popup-gap-extra-thin);
    text-align: center;
    word-break: break-all;
    }
#hostname > span {
    word-break: break-all;
    }
#hostname > span + span {
    font-weight: 600;
    }

body[data-forbid~="filteringMode"] .filteringModeSlider {
    pointer-events: none;
    }
body[data-forbid~="dashboard"] #gotoDashboard,
body[data-forbid~="zapper"] #gotoZapper,
body[data-forbid~="picker"] #gotoPicker {
    display: none;
    }

#filteringModeText {
    color: var(--ink-3);
    margin-bottom: var(--default-gap-small);
    margin-top: 0;
    text-align: center;
    text-transform: lowercase;
    }
#filteringModeText > span {
    color: var(--accent-surface-1);
    }
#filteringModeText > span:nth-of-type(2) {
    display: none;
    }
#filteringModeText > span:nth-of-type(2):not(:empty) {
    display: inline;
    }
#filteringModeText > span:nth-of-type(2):not(:empty)::before {
    content: '\2002\2192\2002';
    }
[dir="rtl"] #filteringModeText > span:nth-of-type(2):not(:empty)::before {
    content: '\2002\2190\2002';
    }

.filteringModeSlider {
    align-self: center;
    margin-bottom: var(--popup-gap);
    margin-top: var(--popup-gap);
    }

body.needReload #refresh {
    visibility: visible;
    }

.toolRibbon {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--font-size) - 1px);
    line-height: calc(var(--font-size) * 2.2);
    white-space: nowrap;
    }
:root:not(.isHTTP) .needHTTP {
    display: none;
    }

.toolRibbon > label {
    font-size: small;
    color: var(--ink-2);
    line-height: calc(var(--font-size) * 1.8);
    }
.toolRibbon .tool {
    cursor: pointer;
    display: flex;
    unicode-bidi: embed;
    }
.toolRibbon .tool:hover {
    color: var(--ink-1);
        fill: var(--ink-1);
    }
.toolRibbon .tool .fa-icon {
    font-size: 1.4em;
    min-width: 1.4em;
    }
.toolRibbon .tool:not(.enabled) {
    display: none;
    }
.toolRibbon.localTools > * {
    padding: 0 0.5em;
    }

body:not([data-section~="a"]) [data-section="a"] {
    display: none;
    }
body:not([data-section~="b"]) [data-section="b"] {
    display: none;
    }

/* horizontally-constrained viewport */
:root.portrait body {
    overflow-y: auto;
    width: 100%;
    }
:root.portrait #main {
    max-width: unset;
    }
/* mouse-driven devices */
:root.desktop {
    display: flex;
    }
:root.desktop .tool:hover {
    background-color: var(--popup-toolbar-surface-hover);
    }
