:root#ubol-unpicker {
    --ubol-overlay-fill: rgba(64,255,64,0.10);
    --ubol-overlay-border: #0F0;
}

#ubol-unpicker svg#overlay {
    cursor: not-allowed;
}

#ubol-unpicker aside {
    background-color: var(--surface-1);
    border: 1px solid var(--border-2);
    max-height: 40vh;
    max-width: min(32rem, 100vw - 4px);
    min-width: min(24rem, 100vw - 4px);
    width: min(32rem, 100vw - 4px);
}
#ubol-unpicker.minimized aside {
    min-width: min(8rem, 100vw - 4px);
    width: min(8rem, 100vw - 4px);
}

#ubol-unpicker.preview #toolbar #preview {
    color: var(--accent-ink-1);
    background-color: var(--accent-surface-1);
}
#ubol-unpicker.preview #overlay path {
    display: none;
}

#ubol-unpicker #customFilters {
    font-family: monospace;
    padding: var(--default-gap-xxsmall) 0
        var(--default-gap-xxsmall) var(--default-gap-xxsmall);
}
#ubol-unpicker .customFilter {
    display: flex;
}
#ubol-unpicker .customFilter:nth-of-type(2n+1) {
    background-color: var(--surface-2);
}
#ubol-unpicker .customFilter > span.selector {
    flex-grow: 1;
    font-size: small;
    padding: var(--default-gap-xxsmall);
}
#ubol-unpicker .customFilter.on >  span.selector {
    background-color: var(--ink-1);
    color: var(--surface-1);
}
#ubol-unpicker .customFilter.removed >  span.selector {
    text-decoration-line: line-through;
}
#ubol-unpicker .customFilter.removed >  span.remove {
    display: none;
}
#ubol-unpicker .customFilter.removed span.selector {
    pointer-events: none;
}
#ubol-unpicker .customFilter > span.fa-icon {
    flex-shrink: 0;
    font-size: 1.25em;
    padding: 0 0.5em;
}
#ubol-unpicker .customFilter:not(.removed) >  span.undo {
    display: none;
}
