:root#ubol-unpicker {
    --ubol-overlay-fill: rgba(64,255,64,0.10);
    --ubol-overlay-border: #0F0;
}

#ubol-unpicker aside {
    background-color: var(--surface-1);
    border: 1px solid var(--border-2);
    max-height: 40vh;
    max-width: min(32rem, 100vw - 4px);
    min-width: min(24rem, 100vw - 4px);
    width: min(32rem, 100vw - 4px);
}
#ubol-unpicker.minimized aside {
    min-width: min(8rem, 100vw - 4px);
    width: min(8rem, 100vw - 4px);
}

#ubol-unpicker.preview #toolbar #preview {
    color: var(--accent-ink-1);
    background-color: var(--accent-surface-1);
}
#ubol-unpicker.preview #overlay path {
    display: none;
}

#ubol-unpicker #customFilters {
    font-family: monospace;
    padding: var(--default-gap-xsmall) 0
        var(--default-gap-xsmall) var(--default-gap-xsmall);
}
#ubol-unpicker .customFilter {
    display: flex;
}
#ubol-unpicker .customFilter:nth-of-type(2n+1) {
    background-color: var(--surface-2);
}
#ubol-unpicker .customFilter > span:first-of-type {
    flex-grow: 1;
    padding: var(--default-gap-xxsmall) 0;
}
#ubol-unpicker .customFilter.on >  span:first-of-type {
    background-color: var(--ink-1);
    color: var(--surface-1);
}
#ubol-unpicker .customFilter.removed >  span:first-of-type {
    text-decoration-line: line-through;
}
#ubol-unpicker .customFilter.removed >  span:last-of-type {
    visibility: hidden;
}
#ubol-unpicker .customFilter.removed {
    pointer-events: none;
}
#ubol-unpicker .customFilter > span:last-of-type {
    flex-shrink: 0;
    font-size: 1.4em;
    padding: 0 0.5em;
}
