
@font-face {
    font-family: BebasNeue;
    /*src: url('font/bebasneue_regular-webfont.eot');*/
    src: /*url('font/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue_regular-webfont.woff2') format('woff2'),*/
         url('font/bebasneue_regular-webfont.woff')/* format('woff'),
         url('font/bebasneue_regular-webfont.ttf') format('truetype'),
         url('font/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
html {
	height: 100%;
}

body {
	width:100%;
	height: 100%;
	background: #000 url(img/gray_grid.png);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #4C4D4C;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

* {
	transition: opacity 0.5s ease;
}
a {
  text-decoration: none;
}

#logo{

	position: absolute;
	left: 10px;
	top: 0px;
	margin: 8px 10px;
}

#title{
    font-family: 'BebasNeue';
	position: absolute;
	left: 30px;
	top:70px;
	color:#B144F2;
}

#logo a {
	width: 90px;
	height: 90px;
	background: url(img/log.png);
	background-size: 100%;
	display: block;
	text-decoration: none;
}

.logdiv {
	position: absolute;
	top: 132px;
	left: 15px;
	padding-bottom: 3rem;
	font-size: 12px;
	color: #ddd;
	text-shadow: 1px  1px 2px #000,
				-1px  1px 2px #000,
				-1px -1px 2px #000,
				 1px -1px 2px #000;
}

.logentry{
	margin:0 20px 5px 0.5rem;
	width:100%;
    float: left;
    padding-right: 1rem;
}
.logtime,.logtext{
	position: relative;
	float:left;
}
.logtime{
	font-weight: 300;
	color:#BAD2ED;
	margin: 0 0 5px 0;
	min-width:180px;
	padding-right:10px;
}
.logtext{
	width:70%;
	max-width:700px;
	word-wrap: break-word;
}
.logtext a{
	color:#3E9AF8;
	text-shadow:none !important;
}

#viewfull {
	position: fixed;
	bottom: 0px;
	width:100%;
	background-color: black;
	padding:10px 0 10px 25px;
	font-size: 14px;
}
#viewfull a{
	text-decoration: none;
	color:#B04DEF;
}
#viewfull a:hover{
	text-decoration: underline;
}
#settings {
  height: 450px;
  /*font-family: 'BebasNeue';*/
  width: 100%;
  color: #aaa;
}
#settings header a.close {
  display: inline-block;
  text-decoration: none;
  color: #777;
  width: 90px;
  height: 100px;
  float: right;
  padding-top:30px;
  /*font-family: 'BebasNeue';*/
  font-size: 40px;
  text-align: center;
}
#settings header a.close:hover{
  color: #0076FF;
}
#settings header h2 {
  display: inline-block;
  width: 130px;
  padding:20px;
  color: #0076FF;
}
