ul {
    padding: 0;
    list-style-type: none;
    }
label {
    margin-left: 0.5em;
    }
#options li {
    margin-bottom: 0.5em;
    }
#3pActionButtons {
    margin-top: 5px;
    }
#lists {
    margin: 0.5em 0 4em 0;
    padding-left: 1em;
    padding-right: 0em;
    }
body[dir=rtl] #lists {
    padding-left: 0em;
    padding-right: 1em;
    }
#lists > li {
    margin: 0.5em 0 0 0;
    padding: 0;
    list-style-type: none;
    }
#lists > .groupEntry > .geName {
    cursor: pointer;
    font-size: 110%;
    }
#lists > .groupEntry > .geCount {
    font-size: 90%;
    }
#lists > .groupEntry:not(:first-child) > .geName:before {
    color: #aaa;
    content: '\2212  ';
    }
#lists > .groupEntry.collapsed > .geName:before {
    color: #aaa;
    content: '+  ';
    }
#lists > .groupEntry > ul {
    margin: 0.25em 0 0 0;
    }
#lists > .groupEntry.collapsed > ul,
#lists > .groupEntry.collapsed > div {
    display: none;
    }
li.listEntry {
    font-size: 14px;
    margin: 0 auto 0 auto;
    margin-left: 3em;
    margin-right: 0em;
    text-indent: -2em;
    }
li.listEntry .icon-secure {
    display: none;
    color: #aaa;
    font-size: 13px;
    }
li.listEntry.secure .icon-secure {
    display: inline-block;
    }
body[dir=rtl] li.listEntry {
    margin-left: 0em;
    margin-right: 1em;
    }
li.listEntry > * {
    text-indent: 0;
    unicode-bidi: embed;
    }
li.listEntry > a {
    color: dimgray;
    }
li.listEntry > a:hover {
    color: dodgerblue;
    }
li.listEntry > a:nth-of-type(2) {
    font-size: 13px;
    opacity: 0.5;
    }
.dim {
    opacity: 0.5;
    }
#buttonApply {
    display: initial;
    margin: 1em 0;
    padding: 1em;
    position: fixed;
    right: 1em;
    top: 0;
    z-index: 10;
    }
body[dir=rtl] #buttonApply {
    right: auto;
    left: 1em;
    }
#buttonApply.disabled {
    display: none;
    }
button.disabled {
    opacity: 0.6;
    pointer-events: none;
    }
span.status {
    margin: 0 0 0 1em;
    border: 1px solid transparent;
    padding: 1px 2px;
    display: inline-block;
    font-size: smaller;
    line-height: 1;
    opacity: 0.7;
}
span.purge {
    border-color: #ddd;
    color: #444;
    background-color: #eee;
    cursor: pointer;
    }
span.purge:hover {
    opacity: 1;
    }
span.obsolete,
span.new {
    border-color: hsl(36, 100%, 73%);
    color: #222;
    background-color: hsl(36, 100%, 75%);
    }
#externalListsDiv {
    margin: 2em auto 0 1em;
    }
body[dir=rtl] #externalListsDiv {
    margin: 2em 1em 0;
    }
#externalLists {
    box-sizing: border-box;
    font-size: smaller;
    height: 10em;
    white-space: pre;
    width: 100%;
    word-wrap: normal;
    }
body #busyOverlay {
    background-color: transparent;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    }
body.busy #busyOverlay {
    display: block;
    }
#busyOverlay > div:nth-of-type(1) {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    }
#busyOverlay > div:nth-of-type(2) {
    background-color: dimgray;
    border-radius: 1.5em;
    box-sizing: border-box;
    height: 3em;
    left: 10%;
    position: absolute;
    bottom: 75%;
    width: 80%;
    }
#busyOverlay > div:nth-of-type(2) > div:nth-of-type(1) {
    background: dodgerblue;
    border: 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    width: 25%;
    -webkit-transition:0.5s width;
    transition:0.5s width;
    }
#busyOverlay > div:nth-of-type(2) > div:nth-of-type(2) {
    color: #eee;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    line-height: 3em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    }
