body {
    margin-bottom: 6rem;
    }
#dev {
    align-items: flex-start;
    display: none;
    }
#dev.enabled {
    display: flex;
    }
#dev > * {
    margin-inline-end: 1em;
    }
#dev > div {
    white-space: pre;
    }
