#cloudWidget {
    background: url("../img/cloud.png") hsl(216, 100%, 93%);
    border-radius: 3px;
    margin: 0.5em 0;
    overflow: auto;
    padding: 0.5em;
    position: relative;
    }
#cloudWidget.hide {
    display: none;
    }
#cloudWidget > button {
    font-size: 180%;
    padding: 0 0.25em;
    position: relative;
    }
#cloudWidget {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    }
#cloudWidget button[disabled] {
    visibility: hidden;
    }
#cloudWidget button.error {
    color: var(--fg-icon-info-lvl-4);
    }
#cloudPullAndMerge {
    margin-left: 0.25em;
    }
#cloudPullAndMerge > span:nth-of-type(2) {
    font-size: 50%;
    position: absolute;
    right: 0;
    top: 0;
    }
#cloudInfo {
    color: var(--fg-0-60);
    flex-shrink: 0;
    font-size: 90%;
    margin: 0 1em;
    overflow: hidden;
    padding: 0;
    white-space: pre-line;
    }
#cloudError {
    color: var(--fg-icon-info-lvl-4);
    flex-grow: 1;
    flex-shrink: 2;
    font-size: x-small;
    margin: 0 1em;
    }
#cloudWidget #cloudCog {
    color: var(--fg-0-50);
    cursor: pointer;
    fill: var(--fg-0-50);
    font-size: 110%;
    padding: 0.4em;
    }
#cloudWidget #cloudCog:hover {
    color: inherit;
    fill: inherit;
    }
#cloudWidget #cloudOptions {
    background-color: var(--default-surface);
    border: 1px solid var(--bg-1-border);
    bottom: 0;
    display: none;
    margin: 0.4em;
    padding: 0.4em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10;
    }
#cloudWidget #cloudOptions.show {
    display: block;
    }
