.codeMirrorContainer {
    font-size: 12px;
    overflow: hidden;
    position: relative;
}
.CodeMirror {
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.cm-s-default .cm-comment {color: #777;}
.cm-staticext {color: #008;}
.cm-staticnet.cm-block {color: #800;}
.cm-staticnet.cm-allow {color: #004f00;}


.cm-search-widget {
    align-items: center;
    background-color: #eee;
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    /* position: absolute; */
    right: 2em;
    top: 0;
    user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    z-index: 1000;
    }
.cm-search-widget .fa {
    color: #888;
    font-size: 140%;
    }
.cm-search-widget > span {
    position: relative;
    }
.cm-search-widget .cm-search-widget-count {
    align-items: center;
    bottom: 0;
    color: #888;
    display: none;
    margin-right: 4px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    }
.cm-search-widget[data-query] .cm-search-widget-count {
    display: flex;
    }
.cm-search-widget .cm-search-widget-button:hover {
    color: #000;
    }
