.codeMirrorContainer {
    font-size: 12px;
    line-height: 1.25;
    overflow: hidden;
    position: relative;
    }
.CodeMirror {
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    }

/* For when panels are used */
.codeMirrorContainer > div:not([class^="CodeMirror"]) {
    display: flex;
    flex-direction: column;
    height: 100%;
    }

.codeMirrorContainer.codeMirrorBreakAll .CodeMirror-wrap pre {
    word-break: break-all;
    }

.cm-s-default .cm-comment { color: #777; }
.cm-directive { color: #333; font-weight: bold; }
.cm-staticext { color: #008; }
.cm-staticnetBlock { color: #800; }
.cm-staticnetAllow { color: #004f00; }
.cm-staticOpt { background-color: #ddd; font-weight: bold; }

.cm-search-widget {
    align-items: center;
    background-color: var(--bg-code);
    cursor: default;
    direction: ltr;
    display: flex;
    flex-shrink: 0;
    font-size: 110%;
    justify-content: center;
    padding: 0.5em;
    user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    z-index: 1000;
    }
.cm-search-widget .fa-icon {
    fill: #888;
    font-size: 140%;
    }
.cm-search-widget .fa-icon:not(.fa-icon-ro):hover {
    fill: #000;
    }
.cm-search-widget-input {
    border: 1px solid gray;
    border-radius: 3px;
    display: inline-flex;
    max-width: 50vw;
    width: 16em;
    }
.cm-search-widget-input > input {
    border: 0;
    flex-grow: 1;
    width: 100%;
    }
.cm-search-widget-input > .cm-search-widget-count {
    align-items: center;
    color: #888;
    display: none;
    flex-grow: 0;
    font-size: 80%;
    padding: 0 0.4em;
    pointer-events: none;
    }
.cm-search-widget[data-query] .cm-search-widget-count {
    display: inline-flex;
    }
.cm-search-widget .cm-search-widget-button:hover {
    color: #000;
    }
.cm-search-widget .sourceURL {
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    left: 0;
    }
.cm-search-widget .sourceURL[href=""] {
    display: none;
    }

.CodeMirror-merge-l-deleted {
    background-image: none;
    font-weight: bold;
    }
.CodeMirror-merge-l-inserted {
    background-image: none;
    font-weight: bold;
    }
/* This probably needs to be added to CodeMirror repo */
.CodeMirror-merge-gap {
    vertical-align: top;
    }
