body {
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
    }
#content {
    flex-grow: 1;
    }

.cm-href {
    cursor: pointer;
    }
.cm-href:hover {
    text-decoration: underline;
    }
