@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
.fa {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after#Tooltips */
[data-tip] {
    cursor: pointer;
    position: relative;
    }
body:not(.advancedUser) [data-tip]:after {
    background-color: #ffffee;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    color: black;
    content: attr(data-tip);
    font: 12px sans-serif;
    left: 0;
    line-height: 130%;
    min-width: 55%;
    padding: 4px 6px;
    position: absolute;
    text-align: left;
    top: 110%;
    white-space: pre-line;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    }
[data-tip]:hover:after {
    opacity: 1 !important;
    -webkit-transition: opacity 0.2s 0.4s;
    transition: opacity 0.2s 0.4s;
    }
body[dir=rtl] [data-tip]:hover:after {
    text-align: right;
    }

body [data-tip][data-tip-anchor="top"]:hover:after {
    bottom: 140%;
    top: auto;
    }
body[dir=ltr] [data-tip][data-tip-anchor="top"]:hover:after {
    left: -500%;
    right: 0;
    }
body[dir=rtl] [data-tip][data-tip-anchor="top"]:hover:after {
    left: 0;
    right: -500%;
    }

.hiddenFileInput {
    visibility: hidden;
    width: 0;
    height: 0;
    }
