/* ============================================================
  RESET
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* ============================================================
  GLOBALS
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	height: 100%;
	background-image: url(../img/gray_grid.png);
	font: 16px/13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  color: #999;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {

}

/* clear floated divs */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  TEMPLATE
============================================================ */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 0 0px;
  position: fixed;
  right: 0px;
}

div.hide {
  display: none;
}

button.hide {
  display: none;
}

a.hide {
  display: none;
}

button {
  border: 2px solid #0076FF;
  border-radius: 5px;
  font-family: bebas_neue_regularregular;
  background: none;
  box-shadow: none;
  color: #0076FF;
  font-size: 20px;
  height: 30px;
  padding-top: 1px;
}

button:hover:enabled{
  background: #0076FF;
  color: #000;
}

button.danger {
  border-color: #ff3300;
  color: #ff3300;
}

button.danger:hover{
  background: #ff3300;
  color: #000;
}

#alert {
    height: 200;
    width: 100%;
    position: relative;
}

.recent-ads {
	margin: 125px 0px 0px 0px;
}

#alert img {
  position: absolute;
  top: 50px;
  left: 50%;
  margin: -36px 0px 0px -36px;
  width: 72px;
  height: auto;
  box-shadow: 2px 0px 30px #000;
  background: #000;
  border-radius: 30px;
}

#alert p {
  position: absolute;
  top: 85px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  padding: 0px 10%;
  color: white;
  text-shadow: 0 0 3px #000;
}

/* ============================================================
  MORE
============================================================ */
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    }
/*@import 'fonts/stylesheet.css';*/
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('fonts/bebasneue_regular-webfont.eot');
    src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    }
a {
    text-decoration: none;
    color: #0076FF;
    }
a:hover {
    color: #3B96FF;
    }
p {
  margin: 1em 0;
}
/* I designed the button with: http://charliepark.org/bootstrap_buttons/ */
button.custom {
    border: 2px solid #0076FF;
    border-radius: 5px;
    font-family: bebas_neue_regularregular;
    background: none;
    box-shadow: none;
    color: #0076FF;
    font-size: 20px;
    height: 30px;
    padding-top: 2px;
    }
button.custom.disabled,
button.custom[disabled] {
    border-color: #999;
    color: #999;
    opacity: 0.6;
    pointer-events: none;
    }
button.custom:hover {
    opacity: 1.0;
    }
button.important {
    padding: 1px 2em;
    }
.hiddenFileInput {
    height: 0;
    visibility: hidden;
    width: 0;
    }
textarea {
  background: #333;
  color: #ccc;
  padding: 5px;
}
input {
  background: #333;
  color: #ccc;
  border: solid 1px #999;
  border-radius: 2px;
}
