/* ============================================================
  RESET
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* ============================================================
  GLOBALS
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	height: 100%;
	background-image: url(../img/gray_grid.png);
	font: 16px/13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  color: #999;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {

}

/* clear floated divs */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
li {
  line-height: 1.3em;
}

/* ============================================================
  TEMPLATE
============================================================ */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 0 0px;
  position: fixed;
  right: 0px;
}

div.hide {
  display: none;
}

button.hide {
  display: none;
}

a.hide {
  display: none;
}

button {
  border: 2px solid #0076FF;
  border-radius: 5px;
  font-family: bebas_neue;
  background: none;
  box-shadow: none;
  color: #0076FF;
  font-size: 20px;
  height: 30px;
  padding-top: 1px;
}

button:hover:enabled{
  background: #0076FF;
  color: #000;
}

button.danger {
  border-color: #ff3300;
  color: #ff3300;
}

button.danger:hover{
  background: #ff3300;
  color: #000;
}

button.large {
  width: 80%;
  margin: 0 70px;
  display: block;
  line-height: 1em;
}

#alert {
    height: 200;
    width: 100%;
    position: relative;
}

.recent-ads {
	margin: 125px 0px 0px 0px;
}

#alert img {
  position: absolute;
  top: 50px;
  left: 50%;
  margin: -36px 0px 0px -36px;
  width: 72px;
  height: auto;
  box-shadow: 2px 0px 30px #000;
  background: #000;
  border-radius: 30px;
}

#alert p {
  position: absolute;
  top: 85px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  padding: 0px 10%;
  color: white;
  text-shadow: 0 0 3px #000;
}

/* ============================================================
  MORE
============================================================ */
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    }
/*@import 'fonts/stylesheet.css';*/
@font-face {
    font-family: 'bebas_neue';
    src: url('fonts/bebasneue_thin-webfont.eot');
    src: url('fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_thin-webfont.woff') format('woff'),
         url('fonts/bebasneue_thin-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('fonts/bebasneue_light-webfont.eot');
    src: url('fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_light-webfont.woff') format('woff'),
         url('fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('fonts/bebasneue_book-webfont.eot');
    src: url('fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff'),
         url('fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('fonts/bebasneue_regular-webfont.eot');
    src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('fonts/bebasneue_bold-webfont.eot');
    src: url('fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: 700;
    font-style: normal;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    }
a {
    text-decoration: none;
    color: #0076FF;
    }
a:hover {
    color: #3B96FF;
    }
p {
  margin: 1em 0;
}
/* I designed the button with: http://charliepark.org/bootstrap_buttons/ */
button.custom {
    border: 2px solid #0076FF;
    border-radius: 5px;
    font-family: bebas_neue;
    background: none;
    box-shadow: none;
    color: #0076FF;
    font-size: 20px;
    height: 30px;
    padding-top: 2px;
    }
button.custom.disabled,
button.custom[disabled] {
    border-color: #999;
    color: #999;
    opacity: 0.6;
    pointer-events: none;
    }
button.custom:hover {
    opacity: 1.0;
    }
button.important {
    padding: 1px 2em;
    }
.hiddenFileInput {
    height: 0;
    visibility: hidden;
    width: 0;
    }
textarea {
  background: #333;
  color: #ccc;
  padding: 5px;
}
input {
  background: #333;
  color: #ccc;
  border: solid 1px #999;
  border-radius: 2px;
}
/* ============================================================
  TOGGLE: COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row {
    position: relative;
}
.row .question {
    position: absolute;
    left: 70px;
    line-height: 1.8em;
}
.row .question.large {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  font-family: bebas_neue;
}
.row p.option-meta {
  margin: 5px 0 20px 70px;
  line-height: 1.2em;
}

/* ============================================================
  TOGGLE: SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #777;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #777;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #0076FF;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #0076FF;
}
input.cmn-toggle-round-flat.cmn-toggle-small + label {
  height: 16px;
  width: 30px;
  padding: 1px;
  float: left;
  margin-right: 5px;
}
input.cmn-toggle-round-flat.cmn-toggle-small + label::before{
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
}
input.cmn-toggle-round-flat.cmn-toggle-small + label::after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  width: 12px;
}
input.cmn-toggle-round-flat.cmn-toggle-small:checked + label::after {
  margin-left: 14px;
}
