body {
    font: 14px/1.5 sans-serif;
    }
@media (pointer: coarse) {
    body {
        font: 16px/1.5 sans-serif;
    }
}
body {
    background-color: var(--bg-0);
    border: 0;
    box-sizing: border-box;
    color: var(--fg-0);
    fill: var(--fg-0);
    margin: 0;
    padding: 0;
    }
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    }
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
code {
    background-color: var(--bg-code);
    padding: 0 0.25em;
    }
textarea {
    font-size: 90%;
    }
/* I designed the button with: http://charliepark.org/bootstrap_buttons/ */
button.custom {
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: var(--bg-button);
    color: var(--fg-button)
    display: inline-flex;
    padding: 0.6em 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
button.custom.vflex {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    }
button.custom:hover {
    background-color: var(--bg-button-hover);
    }
button.custom.important {
    background-color: var(--bg-button-important);
    }
button.custom.important:hover {
    background-color: var(--bg-button-important-hover);
    }
button.custom.disabled,
button.custom[disabled],
button.custom.important.disabled,
button.custom.important[disabled] {
    background-color: var(--bg-button-disabled);
    color: var(--fg-button-disabled);
    pointer-events: none;
    }
button.custom.iconifiable > .fa,
button.custom.iconifiable > .fa-icon {
    padding-left: 0;
    padding-right: 0.4em;
    }
button.custom.iconifiable > .fa-icon {
    font-size: 120%;
    }
body[dir="rtl"] button.custom.iconifiable > .fa,
body[dir="rtl"] button.custom.iconifiable > .fa-icon {
    padding-left: 0.5em;
    }
.hidden {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
    }
label {
    align-items: center;
    display: inline-flex;
    }
@media (pointer: coarse) {
    label {
        flex-grow: 1
        }
}
input[type="checkbox"] {
    margin: 0;
    margin-inline-start: 0.4em;
    -webkit-margin-start: 0.4em;
    margin-inline-end: 0.4em;
    -webkit-margin-end: 0.4em;
    }
.ul {
    margin: 0.5em 0;
    }
.li {
    align-items: center;
    display: flex;
    margin: 0.5em 0;
    }
.liul {
    margin: 0.5em 0;
    margin-inline-start: 2em;
    -webkit-margin-start: 2em;
    }
@media (max-width: 640px) {
    button.custom.iconifiable > .fa,
    button.custom.iconifiable > .fa-icon {
        font-size: 1.2rem;
        padding: 0;
        }
    button.custom.iconifiable > [data-i18n] {
        display: none;
        }
    }

.ubo-icon {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    padding: 0.1em;
    position: relative;
    }
.ubo-icon > * {
    pointer-events: none;
    }
.ubo-icon.disabled,
.disabled > .ubo-icon,
.ubo-icon[disabled],
[disabled] > .ubo-icon {
    color: var(--fg-button-disabled);
    fill: var(--fg-button-disabled);
    stroke: var(--fg-button-disabled);
    pointer-events: none;
    }
.ubo-icon > svg {
    height: 1em;
    width: 1em;
    }
