@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    }
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    }
body {
    background-color: white;
    color: black;
    font: 14px/1.3 sans-serif;
    }
.hiddenFileInput {
    height: 0;
    visibility: hidden;
    width: 0;
    }
