/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after#Tooltips */
[data-tip] {
    cursor: pointer;
    position: relative;
    }
body [data-tip]:after {
    background-color: #333;
    border-radius: 3px;
    box-sizing: border-box;
    color: #eee;
    content: attr(data-tip);
    font-size: 12px;
    font-weight: normal;
    left: 0.5em;
    line-height: 130%;
    opacity: 0;
    padding: 4px 6px;
    pointer-events: none;
    position: absolute;
    right: 0.5em;
    text-align: left;
    top: 110%;
    visibility: hidden;
    white-space: pre-line;
    z-index: 20;
    }
body [data-tip]:hover:after {
    opacity: 0.9;
    position: absolute;
    transition: visibility 0s 0.3s, opacity 0.2s 0.4s;
    -webkit-transition: visibility 0s 0.3s, opacity 0.2s 0.4s;
    visibility: visible;
    }
body[dir=rtl] [data-tip]:hover:after {
    text-align: right;
    }

body [data-tip][data-tip-anchor="top"]:hover:after {
    bottom: 140%;
    left: initial;
    top: auto;
    width: 8.5em;
    }
body[dir=ltr] [data-tip][data-tip-anchor="top"]:hover:after {
    right: 0;
    }
body[dir=rtl] [data-tip][data-tip-anchor="top"]:hover:after {
    left: 0;
    }

body[dir=ltr] [data-tip][data-tip-anchor="left"]:hover:after {
    right: 105%;
    top: initial;
    left: initial;
    bottom: -4px;
    }
body[dir=rtl] [data-tip][data-tip-anchor="left"]:hover:after {
    left: 105%;
    top: initial;
    right: initial;
    bottom: -4px;
    }
body [data-tip][data-tip-anchor="topcenter"]:hover:after {
    bottom: 140%;
    left: -225%;
    right: initial;
    top: auto;
    width: 8.5em;
    }

.hiddenFileInput {
    visibility: hidden;
    width: 0;
    height: 0;
    }
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
