html, body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
@media screen and (max-device-width: 960px) {
    #dashboard-nav {
        zoom: 1.2;
        }
    }
#dashboard-nav {
    border: 0;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    align-items: stretch;
    display: flex;
    margin: 0;

    border-bottom: 1px solid #444;
    padding: 4px 10px 0;
    white-space: nowrap;
    background-color: #000;
}
#dashboard-nav-widgets span {
    align-items: center;
    display: inline-flex;

    padding: 0 0.5em;
    font-size: 20px;
    font-family: bebas_neue,sans-serif;
    display: block;
    width: 100px;
    float: left;
    margin: 5px 0;
    color: #fff;
}
.tabButton {
    font-family: bebas_neue,sans-serif;
    background-color: #222;
    border: 2px solid #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 1px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
/*<<<<<<< HEAD
    margin: 0;
    padding: 2px 10px;
=======*/
    margin: 0 0.2em 0 0;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-decoration: none;
    top: 1px;
    opacity: 0.75;
}
.tabButton:hover{
    opacity: 1;
    color: #ccc;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    /*color: inherit;*/
    }
.tabButton.selected {
    background-color: #444;
    color: #fff;
    border-color: #444;
    opacity: 1;
    }
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    }

@media (max-width: 640px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 1px 0 0 0;
        }
    .hverbose {
        display: none !important;
        }
    .tabButton {
        font-size: 90%;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
}


@media (max-width: 400px) {
    #dashboard-nav-widgets span {
        display: none;
    }
}
