html, body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
@media screen and (max-device-width: 960px) {
    #dashboard-nav {
        zoom: 1.2;
        }
    }
#dashboard-nav {
    border: 0;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    border-bottom: 1px solid #444;
    padding: 4px 10px 0;
    white-space: nowrap;
    background-color: #000;
}
#dashboard-nav-widgets span {
    padding: 0 0.5em;
    font-size: 20px;
    font-family: bebas_neue,sans-serif;
    display: block;
    width: 100px;
    float: left;
    margin: 5px 0;
    color: #fff;
}
.tabButton {
    font-family: bebas_neue,sans-serif;
    background-color: #222;
    border: 2px solid #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 1px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
    margin: 0;
    padding: 2px 10px;
    position: relative;
    text-decoration: none;
    top: 1px;
    opacity: 0.75;
    }
.tabButton:hover{
    opacity: 1;
    color: #ccc;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    /*color: inherit;*/
    }
.tabButton.selected {
    background-color: #444;
    color: #fff;
    border-color: #444;
    opacity: 1;
    }
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    }

@media (max-width: 600px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 1px 0 0 0;
        white-space: normal;
        }
    [data-i18n="extName"] {
        display: none;
        }
    .tabButton {
        border-radius: 0;
        display: inline-block;
        font-size: 100%;
        margin-bottom: 1px;
        margin-right: 1px;
        top: 0;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
}


@media (max-width: 400px) {
    #dashboard-nav-widgets span {
        display: none;
    }
}
