html, body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
@media screen and (max-device-width: 960px) {
    #dashboard-nav {
        zoom: 1.2;
        }
    }
#dashboard-nav {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    align-items: stretch;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin: 0;
    padding: 4px 0 0;
    white-space: nowrap;
    }
#dashboard-nav-widgets > span {
    align-items: center;
    display: inline-flex;
    padding: 0 0.5em;
    width: 1.25em;
    }
#dashboard-nav-widgets > span > img {
    width: 100%;
    }
.tabButton {
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
    margin: 0 0.2em 0 0;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-decoration: none;
    top: 1px;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    color: inherit;
    }
.tabButton.selected {
    background-color: white;
    border-bottom: 1px solid white;
    }
iframe {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    }
#unsavedWarning {
    box-shadow: rgba(128,128,128,0.4) 0 4px 4px;
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
    }
#unsavedWarning.on {
    display: initial;
    }
#unsavedWarning > div:first-of-type {
    background-color: #ffffcc;
    padding: 0.5em;
    }
#unsavedWarning > div:last-of-type {
    height: 100vh;
    position: absolute;
    width: 100vw;
    }

body:not(.canUpdateShortcuts) .tabButton[href="#shortcuts.html"] {
    display: none;
    }

@media (max-width: 640px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 1px 0 0 0;
        }
    .hverbose {
        display: none !important;
        }
    .tabButton {
        font-size: 90%;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
    }
