html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font: 15px Helvetica Neue, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:#fdfdfd;
    color:#444;
    }
body {
    padding:8px;
    box-sizing: border-box;
    }
#dashboard-nav {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    top: 0;
    z-index: 10;
    }
#dashboard-nav-widgets {
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding: 4px 0 0;
    white-space: nowrap;
    }
#dashboard-nav-widgets span {
    padding: 0 0.5em;
    font-size: larger;
    font-weight: bold;
    }
.homepageLink {
    text-decoration: none;
    color: inherit;
    }
.homepageLink:hover {
    color: dodgerblue;
    }
.tabButton {
    background-color: #ddd;
    border: 1px solid #aaa;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 7px;
    position: relative;
    text-decoration: none;
    top: 1px;
    opacity: 0.7;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    color: inherit;
    }
.tabButton.selected {
    background: #fafafa;
    border-bottom: 1px solid #fafafa;
    opacity: 1;
    }
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    }

@media (max-width: 600px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 0;
        }
    [data-i18n="extName"] {
        display: none;
        }
    .tabButton {
        border-radius: 0;
        border-top: 0;
        display: block;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
    }
