html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: stretch;
    overflow: hidden;
    position: relative;
    width: 100vw;
    }
#dashboard-nav {
    background-color: var(--default-surface);
    border: 0;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    align-items: stretch;
    display: flex;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #444;
    padding: 4px 10px 0;
    white-space: nowrap;
    background-color: #000;
}
#dashboard-nav-widgets span {
    align-items: center;
    display: inline-flex;
    padding: 0 0.5em;
    font-size: 20px;
    font-family: bebas_neue,sans-serif;
    display: block;
    width: 100px;
    float: left;
    margin: 5px 0;
    color: #fff;
}
.tabButton {
    font-family: bebas_neue,sans-serif;
    background-color: #222;
    border: 2px solid #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 1px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
    margin: 0 0.2em 0 0;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-decoration: none;
    top: 1px;
    opacity: 0.75;
    }
.tabButton:hover{
  background-color: #333;
  color:#eee;
}
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    /*color: inherit;*/
    }
.tabButton.selected {
    background-color: #444;
    color: #fff;
    border-color: #444;
    opacity: 1;
    }
iframe {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    }
#unsavedWarning {
    box-shadow: rgba(128,128,128,0.4) 0 4px 4px;
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
    }
#unsavedWarning.on {
    display: initial;
    }
#unsavedWarning > div:first-of-type {
    background-color: var(--bg-transient-notice);
    padding: 0.5em;
    }
#unsavedWarning > div:last-of-type {
    height: 100vh;
    position: absolute;
    width: 100vw;
    }

body:not(.canUpdateShortcuts) .tabButton[data-pane="shortcuts.html"] {
    display: none;
    }

@media (max-width: 640px) {
    #dashboard-nav-widgets {
        padding: 1px 0 0 0;
        display: flex;
        border-bottom:none;
        white-space: nowrap;
        width:auto;
    }
    .hverbose {
        display: none !important;
        }
    .tabButton {
        font-size: 90%;
        border:none;
        margin:0px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        background-color: black;
        padding: 0.5em 1.4em calc(0.5em - 3px);
        border-bottom: 3px solid black;
    }
    .tabButton.selected {
        border-bottom: 3px solid #BD10E0;
        background-color: #222;
    }
}

:root.hidpi .tabButton {
    font-family: Metropolis, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

@media (max-width: 400px) {
    #dashboard-nav-widgets span {
        display: none;
    }
}

/* touch-screen devices */
:root.mobile #dashboard-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
:root.mobile #dashboard-nav::-webkit-scrollbar {
  display: none;
    }
:root.mobile #dashboard-nav .logo {
    display: none;
    }
