body > div.body {
    padding: 0 0.5em;
    }
@media screen and (max-device-width: 960px) {
    body {
        zoom: 1.4;
        }
    }
h2, h3 {
    margin: 1em 0;
    }
h2 {
    font-size: 18px;
    }
h3 {
    font-size: 16px;
    }
a {
    text-decoration: none;
    }
.fa-icon.info {
    color: var(--fg-icon-info-lvl-0-dimmed);
    fill: var(--fg-icon-info-lvl-0-dimmed);
    font-size: 115%;
    }
.fa-icon.info:hover {
    color: inherit;
    fill: inherit;
    }
.fa-icon.info.important {
    color: var(--fg-icon-info-lvl-3-dimmed);
    fill: var(--fg-icon-info-lvl-3-dimmed);
    }
.fa-icon.info.important:hover {
    color: var(--fg-icon-info-lvl-3);
    fill: var(--fg-icon-info-lvl-3);
    }
input[type="number"] {
    width: 5em;
    }
input[type="checkbox"][disabled] + * {
    color: var(--fg-0-50);
    }
@media (max-height: 640px), (max-height: 800px) and (max-width: 480px) {
    .body > p,
    .body > ul {
        margin: 0.5em 0;
        }
    .vverbose {
        display: none !important;
        }
    }
/**
    On mobile device, the on-screen keyboard may take up
    so much space that it overlaps the content being edited.
    The rule below makes it possible to scroll the edited
    content within view.
*/
:root.mobile {
    overflow: auto;
    }
:root.mobile body {
    min-height: 600px;
    }
