html, body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
#dashboard-nav {
    border: 0;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    border-bottom: 1px solid #444;
    padding: 4px 10px 0;
    white-space: nowrap;
    background-color: #000;
    }
#dashboard-nav-widgets span {
    padding: 0 0.5em;
    font-size: 20px;
    font-family: bebas_neue_regularregular;
    display: block;
    width: 100px;
    float: left;
    margin: 5px 0;
    color: #fff;
    }
.tabButton {
    font-family: bebas_neue_regularregular;
    background-color: #222;
    border: 2px solid #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 1px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    /*font: inherit;*/
    margin: 0;
    padding: 2px 10px;
    position: relative;
    text-decoration: none;
    top: 1px;
    opacity: 0.75;
    }
.tabButton:hover{
    opacity: 1;
    color: #ccc;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    /*color: inherit;*/
    }
.tabButton.selected {
    background-color: #444;
    color: #fff;
    border-color: #444;
    opacity: 1;
    }

.alert {
  height: 36px;
  color: rgba(0,0,0,0.8);
  background: #CE7B05 url(../img/icon_warning@2x.png) 5px center no-repeat;
  background-size: 33px 29px;
  padding: 5px 5px 5px 44px;
  line-height: 1.5em;
  font-family: 'bebas_neue_regularregular';
  font-size: 1.2em;
}
.alert a {
  color: #000;
  text-decoration: underline;
}
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    }

@media (max-width: 600px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 0;
        }
    [data-i18n="extName"] {
        display: none;
        }
    .tabButton {
        border-radius: 0;
        border-top: 0;
        display: block;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
    }
