html, body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
#dashboard-nav {
    border: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 4px 0 0;
    white-space: nowrap;
    background-color: white;
    }
#dashboard-nav-widgets span {
    padding: 0 0.5em;
    font-size: larger;
    }
.tabButton {
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 4px;
    position: relative;
    text-decoration: none;
    top: 1px;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    color: inherit;
    }
.tabButton.selected {
    background-color: white;
    border-bottom: 1px solid white;
    }
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    }

@media (max-width: 600px) {
    #dashboard-nav {
        position: relative;
        }
    #dashboard-nav-widgets {
        padding: 0;
        }
    [data-i18n="extName"] {
        display: none;
        }
    .tabButton {
        border-radius: 0;
        border-top: 0;
        display: block;
        }
    .tabButton.selected {
        border-bottom: 1px solid #ccc;
        }
    }
