body {
    background-color: #fff;
    box-sizing: border-box;
    color: #20123a;
    fill: #20123a;
    margin: 0;
    padding: 0;
    }
body > div.body {
    padding: 0 0.5em;
    }
@media screen and (max-device-width: 960px) {
    body {
        zoom: 1.4;
        }
    }
h2, h3 {
    margin: 1em 0;
    font-family: sans-serif;
    }
h2 {
    font-size: 18px;
    }
h3 {
    font-size: 16px;
    }
a {
    text-decoration: none;
    }
.fa.info,
.fa-icon.info {
    color: #888;
    fill: #888;
    font-size: 110%;
    }
.fa.info:hover,
.fa-icon.info:hover {
    color: inherit;
    fill: inherit;
    }
.fa.info.important,
.fa-icon.info.important {
    color: #ffa280;
    }
.fa.info.important:hover,
.fa-icon.info.important:hover {
    color: orangered;
    }
button {
    padding: 0.33em;
    }
input[type="number"] {
    width: 5em;
    }
input[type="checkbox"][disabled] + * {
    color: #888;
    }
.para {
    width: 40em;
    }
.warn {
    margin: 0;
    padding: 5px;
    background-color: #FEDAE0;
    }
@media (max-height: 640px), (max-height: 800px) and (max-width: 480px) {
    .body > p,
    .body > ul {
        margin: 0.5em 0;
        }
    .vverbose {
        display: none !important;
        }
    }
@media (max-height: 400px) {
    html {
        min-height: 400px !important;
        overflow: auto !important;
        }
    }
