body {
    border: 0;
    box-sizing: border-box;
    font: 12px monospace;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    }
#toolbar {
    padding: 8px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 4em;
    }
#toolbar .button {
    background-color: white;
    border: none;
    cursor: pointer;
    display: block;
    font-size: large;
    margin: 0;
    padding: 0.5em 0;
    }
#toolbar .button:hover {
    background-color: #eee;
    }
#content {
    width: calc(100% - 4em);
    }
body[dir="ltr"] #content {
    margin-left: 4em;
    }
body[dir="rtl"] #content {
    margin-right: 4em;
    }
#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    width: 100%;
    }
#content table tr.blocked {
    background-color: rgba(192, 0, 0, 0.1)
    }
#content table tr.allowed {
    background-color: rgba(0, 160, 0, 0.1)
    }
#content table tr.maindoc {
    background-color: #eee;
    }
#content table tr td {
    border: 1px solid #ccc;
    padding: 3px;
    vertical-align: top;
    }
#content table tr td:nth-of-type(1) {
    white-space: normal;
    width: 25%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(2) {
    white-space: nowrap;
    }
#content table tr td:nth-of-type(3) {
    border-right: none;
    white-space: normal;
    width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(3) b {
    font-weight: normal;
    }
#content table tr.blocked td:nth-of-type(3) b {
    background-color: rgba(192, 0, 0, 0.2);
    }
#content table tr.allowed td:nth-of-type(3) b {
    background-color: rgba(0, 160, 0, 0.2);
    }