body {
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 12px monospace;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    }
#toolbar {
    background-color: rgba(238, 238, 238, 0.85);
    color: #444;
    border: 0;
    box-sizing: border-box;
    height: 41px;
    margin: 0;
    padding: 0 1em;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid #ccc;
    }
#toolbar > * {
    display: inline-block;
    vertical-align: middle;
    }
#toolbar .button {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    padding: 8px;
    }
#toolbar .button:hover {
    color: #999;
    }
body.filterOff #toolbar #filterButton {
    opacity: 0.25;
    }
#filterExpression.bad {
    background-color: #fee;
    }
input {
    border: 1px solid #ddd;
    padding: 5px;
    }
input:focus {
    outline: 0;
    border-color: deepskyblue;
    }
#content {
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow-y: auto;
    }
#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    width: 100%;
    }
#content table tr.docBoundary {
    background-color: #666;
    color: white;
    text-align: center;
    }
#content table tr.docBoundary > td:first-child {
    padding: 1em 0;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr.blocked {
    background-color: rgba(192, 0, 0, 0.1);
    }
#content table tr.allowed {
    background-color: rgba(0, 160, 0, 0.1);
    }
#content table tr.cosmetic {
    background-color: rgba(255, 255, 0, 0.1);
    }
body:not(.filterOff) #content table tr.hidden {
    display: none;
    }
#content table tr td {
    border: 1px solid #ccc;
    padding: 3px;
    vertical-align: top;
    }
#content table tr td:nth-of-type(1) {
    padding: 3px 0;
    text-align: center;
    white-space: pre;
    width: 1em;
    }
#content table tr td:nth-of-type(2) {
    white-space: normal;
    width: 25%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(3) {
    white-space: nowrap;
    }
#content table tr td:nth-of-type(4) {
    border-right: none;
    white-space: normal;
    width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(4) b {
    font-weight: normal;
    }
#content table tr.blocked td:nth-of-type(4) b {
    background-color: rgba(192, 0, 0, 0.2);
    }
#content table tr.allowed td:nth-of-type(4) b {
    background-color: rgba(0, 160, 0, 0.2);
    }
