body {
    font-size: 13px;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    }
#toolbar {
    background-color: #eee;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 4em;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    }
#toolbar > * {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    }
#toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    margin: 0 0 0 1em;
    vertical-align: middle;
    }
#pageSelector {
    max-width: 80%;
    }
#toolbar #refresh {
    margin-left: 4px;
    }
select {
    padding: 2px 0;
    font-size: 14px;
    min-width: 20em;
    max-width: 40em;
    }
select option {
    max-width: 40em;
    }
#popupToggler {
    opacity: 0.25;
    position: absolute;
    right: 0;
    }
body.popupEnabled #popupToggler {
    opacity: 1;
    }
#content {
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: calc(100vh - 4em);
    margin-top: 4em;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    }
#popup {
    border: 1px solid gray;
    display: none;
    position: fixed;
    right: 2px;
    top: calc(4em + 2px);
    }
body.popupEnabled #popup[src^="popup.html"] {
    display: initial;
    }
