body {
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    }
button {
    opacity: 0.25;
    }
button:hover {
    opacity: 0.75;
    }
#toolbar {
    background-color: #eee;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 4em;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    }
#toolbar > * {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    }
#toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    margin: 0 0 0 1em;
    vertical-align: middle;
    }
#pageSelector {
    max-width: 70%;
    }
#toolbar #refresh {
    margin-left: 4px;
    }
select {
    padding: 2px 0;
    font-size: 14px;
    min-width: 20em;
    max-width: 40em;
    }
select option {
    max-width: 40em;
    }
#extras {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    }
#extras > span {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    }
#extras > span > button {
    margin-left: 0.2em;
    }
#extras > span > div {
    background-color: white;
    border: 0;
    display: none;
    position: absolute;
    right: 2px;
    }
#extras > span > div > * {
    border: 1px solid gray;
    }
#extras > span > button.enabled {
    opacity: 1;
    }
#extras > span > button.enabled + div {
    display: block;
    }
#filterMatcher {
    border: 0;
    padding: 0.5em;
    margin: 0;
    }
#filteringResult {
    background-color: #eee;
    font-family: monospace;
    }
#filteringResult.empty {
    background-color: transparent;
    }
#popup {
    border: 0;
    padding: 0;
    margin: 0;
    }
#content {
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: calc(100vh - 4em);
    margin-top: 4em;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    }
