body {
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    }
#toolbar {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    height: 40px;
    left: 0;
    margin: 0;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100%;
    }
#toolbar .button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 8px;
    }
#toolbar .button:hover {
    background-color: #eee;
    }
body.filterOff #toolbar #filterButton {
    opacity: 0.25;
    }
#filterExpression.bad {
    background-color: #fee;
    }
#maxEntries {
    margin-left: 3em;
    }
input:focus {
    background-color: #ffe;
    }
#content {
    margin-top: 40px;
    }
#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    font: 12px monospace;
    width: 100%;
    }
#content table tr.docBoundary {
    background-color: #666;
    color: white;
    text-align: center;
    }
#content table tr.docBoundary > td:first-child {
    padding: 1em 0;
    }
#content table tr.blocked {
    background-color: rgba(192, 0, 0, 0.1);
    }
body.colorBlind #content table tr.blocked {
    background-color: rgba(0, 19, 110, 0.1);
    }
#content table tr.allowed {
    background-color: rgba(0, 160, 0, 0.1);
    }
body.colorBlind #content table tr.allowed {
    background-color: rgba(255, 194, 57, 0.1)
    }
#content table tr.maindoc {
    }
#content table tr.cosmetic {
    background-color: rgba(255, 255, 0, 0.1);
    }
body:not(.filterOff) #content table tr.hidden {
    display: none;
    }
#content table tr td {
    border: 1px solid #ccc;
    padding: 3px;
    vertical-align: top;
    }
#content table tr td:nth-of-type(1) {
    padding: 3px 0;
    text-align: center;
    white-space: pre;
    width: 1em;
    }
#content table tr td:nth-of-type(2) {
    white-space: normal;
    width: 25%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(3) {
    white-space: nowrap;
    }
#content table tr td:nth-of-type(4) {
    border-right: none;
    white-space: normal;
    width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:nth-of-type(4) b {
    font-weight: normal;
    }
#content table tr.blocked td:nth-of-type(4) b {
    background-color: rgba(192, 0, 0, 0.2);
    }
body.colorBlind #content table tr.blocked td:nth-of-type(4) b {
    background-color: rgba(0, 19, 110, 0.2);
    }
#content table tr.allowed td:nth-of-type(4) b {
    background-color: rgba(0, 160, 0, 0.2);
    }
body.colorBlind #content table tr.allowed td:nth-of-type(4) b {
    background-color: rgba(255, 194, 57, 0.2);
    }
