html {
    height: 100vh;
        height: 100svh;
    overflow: hidden;
    width: 100vw;
    }
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    overflow: hidden;
    width: 100%;
    }
.body {
    flex-shrink: 0;
    }
.codeMirrorContainer {
    flex-grow: 1;
    }
#console {
    text-align: left;
    }
