div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
code {
    background-color: #eee;
    font: 11px monospace;
    padding: 2px 4px;
}
#diff {
    border: 0;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 0.5em 0 0 0;
    white-space: nowrap;
}
#diff > .pane {
    border: 0;
    box-sizing: box-border;
    display: inline-block;
    font: 12px/1.4 monospace;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: normal;
    width: calc(50% - 2px);
    }
#diff > .pane > div {
    padding: 0 0 1em 0;
    text-align: center;
    }
#diff > .pane > div > span {
    float: left;
    }
body[dir="ltr"] #revertButton:after {
    content: '\2009\f061';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="rtl"] #revertButton:after {
    content: '\2009\f060';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="ltr"] #commitButton:before {
    content: '\f060\2009';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="rtl"] #commitButton:before {
    content: '\f061\2009';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
#revertButton,
#commitButton,
#diff.edit #editEnterButton {
    opacity: 0.25;
    pointer-events: none;
    }
#editStopButton,
#editCancelButton {
    display: none;
    }
#diff.dirty:not(.edit) #revertButton,
#diff.dirty:not(.edit) #commitButton {
    opacity: 1;
    pointer-events: auto;
    }
#diff.edit #editStopButton,
#diff.edit #editCancelButton {
    display: initial;
    }
#diff.edit #importButton,
#diff.edit #exportButton {
    display: none;
    }
#diff ul {
    border: 0;
    border-top: 1px solid #eee;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 1em 0 0 0;
    }
#diff.edit .right ul {
    visibility: hidden;
    }
#diff .left {
    padding: 0 0 0 0;
    }
#diff .right > ul {
    color: #888;
    }
#diff li {
    background-color: white;
    direction: ltr;
    padding: 2px 0;
    text-align: left;
    white-space: nowrap;
    }
#diff li:nth-of-type(2n+0) {
    background-color: #eee;
    }
#diff .right li {
    }
#diff .right li:hover {
    }
#diff .right li.notLeft {
    color: #000;
    }
#diff .right li.notRight {
    color: #000;
    }
#diff .right li.toRemove {
    color: #000;
    text-decoration: line-through;
    }
#diff textarea {
    background-color: #f8f8ff;
    border: 0;
    border-top: 1px solid #eee;
    direction: ltr;
    font: 12px monospace;
    line-height: calc(140% + 4px);
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em 0 0 0;
    position: absolute;
    resize: none;
    visibility: hidden;
    white-space: nowrap;
    width: 100%;
    }
#diff.edit textarea {
    visibility: visible;
    }
