html#ublock0-epicker,
#ublock0-epicker body {
    background: transparent !important;
    box-sizing: border-box !important;
    color: black !important;
    font: 12px sans-serif !important;
    height: 100vh !important;
    margin: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    width: 100vw !important;
}
#ublock0-epicker :focus {
    outline: none !important;
}
#ublock0-epicker svg {
    cursor: crosshair !important;
    box-sizing: border-box;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}
#ublock0-epicker .paused > svg {
    cursor: not-allowed !important;
}
#ublock0-epicker svg > path:first-child {
    fill: rgba(0,0,0,0.5) !important;
    fill-rule: evenodd !important;
}
#ublock0-epicker svg > path + path {
    stroke: #F00 !important;
    stroke-width: 0.5px !important;
    fill: rgba(255,63,63,0.20) !important;
}
#ublock0-epicker body.zap svg > path + path {
    stroke: #FF0 !important;
    stroke-width: 0.5px !important;
    fill: rgba(255,255,63,0.20) !important;
}
#ublock0-epicker body.preview svg > path {
    fill: rgba(0,0,0,0.10) !important;
}
#ublock0-epicker body.preview svg > path + path {
    stroke: none !important;
}
#ublock0-epicker body > iframe {
    border: 0 !important;
    box-sizing: border-box !important;
    display: none !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}
#ublock0-epicker body.paused > iframe {
    display: initial !important;
}
