body {
  background: url(../img/adn_clickbot_bg.jpg);
  background-size: cover;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 360px;
  width: 410px;
  margin: -180px 0 0 -205px;
}
form h1 {
  font-size: 30px;
  font-family: bebas_neue;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
}
form h1 strong {
  font-family: bebas_neue;
  font-weight: 700;
  color: #fff;
}
form a {
  color: inherit;
  text-decoration: underline;
}
.help-mark {
  background-color: #0076FF;
}
#clicker {
  margin-top: 50px
}
#dnt-exception {
  margin: 20px 5px 30px 50px;
}
#version-div {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
#app-version {
  color: #999;
  font-family: bebas_neue;
  font-size: 12px;
}
