#domInspector {
    display: none;
    }
#inspectors.dom #domInspector {
    display: block;
    }
#domInspector .permatoolbar .highlightMode.invert {
    transform: rotate(180deg);
    }
#domInspector .vscrollable {
    overflow-x: auto;
    }
#domInspector > ul:first-of-type {
    padding-left: 0.5em;
    }
#domInspector ul {
    background-color: #fff;
    margin: 0;
    padding-left: 1em;
    }
#domInspector li {
    list-style-type: none;
    white-space: nowrap;
    }
#domInspector li.isCosmeticHide,
#domInspector li.isCosmeticHide ul,
#domInspector li.isCosmeticHide li {
    background-color: #fee;
    }
#domInspector li > * {
    margin-right: 1em;
    }
#domInspector li > span:first-child {
    color: #000;
    cursor: default;
    display: inline-block;
    margin-right: 0;
    opacity: 0.5;
    visibility: hidden;
    width: 1em;
    }
#domInspector li > span:first-child:hover {
    opacity: 1;
    }
#domInspector li > *:last-child {
    margin-right: 0;
    }
#domInspector li > span:first-child:before {
    content: '\a0';
    }
#domInspector li.branch > span:first-child:before {
    content: '\25b8';
    visibility: visible;
    }
#domInspector li.branch.show > span:first-child:before {
    content: '\25be';
    visibility: visible;
    }
#domInspector li.branch.hasCosmeticHide > span:first-child:before {
    color: red;
    }
#domInspector li > code {
    cursor: pointer;
    font: 12px/1.4 monospace;
    }
#domInspector li > code.off {
    text-decoration: line-through;
    }
#domInspector li > span {
    color: #aaa;
    }
#domInspector li > code.filter {
    color: red;
    }
#domInspector li > ul {
    display: none;
    }
#domInspector li.show > ul {
    display: block;
    }

#cosmeticFilteringDialog .dialog {
    text-align: center;
    }
#cosmeticFilteringDialog .dialog textarea {
    height: 40vh;
    white-space: pre;
    word-wrap: normal;
    }
