body {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    color: black;
    -moz-box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    }
#toolbar {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#toolbar .button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 150%;
    margin: 0;
    padding: 8px;
    }
#toolbar .button.disabled {
    opacity: 0.2;
    pointer-events: none;
    }
#toolbar .button:hover {
    background-color: #eee;
    }
#toolbar > div {
    white-space: nowrap;
    }
#toolbar > div:first-of-type {
    font-size: 120%;
    }
#toolbar > div > * {
    vertical-align: middle;
    }
#pageSelector {
    width: 28em;
    padding: 0.2em 0;
    }
body #compactViewToggler.button:before {
    content: '\f102';
    }
body.compactView #compactViewToggler.button:before {
    content: '\f103';
    }
#filterButton {
    opacity: 0.25;
    }
body.f #filterButton {
    opacity: 1;
    }
#filterInput.bad {
    background-color: #fee;
    }
#maxEntries {
    margin: 0 2em;
    }
input:focus {
    background-color: #ffe;
    }
#content {
    font: 13px sans-serif;
    width: 100%;
    }

#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    table-layout: fixed;
    width: 100%;
    }
#content table > colgroup > col:nth-of-type(1) {
    width: 5em;
    }
#content table > colgroup > col:nth-of-type(2) {
    width: 2.5em;
    }
#content table > colgroup > col:nth-of-type(3) {
    width: 2.5em;
    }
#content table > colgroup > col:nth-of-type(4) {
    width: 20%;
    }
#content table > colgroup > col:nth-of-type(5) {
    width: 6em;
    }
#content table > colgroup > col:nth-of-type(6) {
    width: calc(100% - 16em - 20%);
    }
body.f table tr.f {
    display: none;
    }

#content tr.cat_info {
    color: #00f;
    }
#content tr.blocked {
    background-color: rgba(192, 0, 0, 0.1);
    }
body.colorBlind #content tr.blocked {
    background-color: rgba(0, 19, 110, 0.1);
    }
#content tr.allowed {
    background-color: rgba(0, 160, 0, 0.1);
    }
body.colorBlind #content tr.allowed {
    background-color: rgba(255, 194, 57, 0.1)
    }
#content tr.cb {
    background-color: rgba(255, 255, 0, 0.1);
    }
#content tr.maindoc {
    background-color: #666;
    color: white;
    text-align: center;
    }

body #content td {
    border: 1px solid #ccc;
    border-top: none;
    min-width: 0.5em;
    padding: 3px;
    vertical-align: top;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    }
#content tr td {
    border-top: 1px solid #ccc;
    }
#content tr td:first-of-type {
    border-left: none;
    }
#content tr td:last-of-type {
    border-right: none;
    }
body.compactView #content td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

#content tr td:nth-of-type(1) {
    text-align: right;
    white-space: nowrap;
    }
#content tr td:nth-of-type(2) {
    text-align: center;
    white-space: nowrap;
    }
#content tr.tab_bts > td:nth-of-type(2):before {
    content: '\f070';
    font: 1em FontAwesome;
    }
#content tr.tab:not(.canMtx) {
    opacity: 0.3;
    }
#content tr.tab:not(.canMtx):hover {
    opacity: 0.7;
    }
#content tr.tab:not(.canMtx) > td:nth-of-type(2):before {
    content: '\f00d';
    font: 1em FontAwesome;
    }
body:not(.popupOn) #content tr.canMtx td:nth-of-type(2) {
    cursor: zoom-in;
    }
body:not(.popupOn) #content tr.canMtx td:nth-of-type(2):hover {
    background: #ccc;
    }
#content tr.cat_net td:nth-of-type(3),
#content tr.cat_cosmetic td:nth-of-type(3) {
    font: 12px monospace;
    text-align: center;
    white-space: nowrap;
    }
#content tr.cat_net td:nth-of-type(3) {
    cursor: pointer;
    position: relative;
    }
#content tr.cat_net td:nth-of-type(3):hover {
    background: #ccc;
    }
#content tr.cat_net td:nth-of-type(6) > span > b {
    font-weight: bold;
    }
#content tr td:nth-of-type(6) b {
    font-weight: normal;
    }
#content tr.blocked td:nth-of-type(6) b {
    background-color: rgba(192, 0, 0, 0.2);
    }
body.colorBlind #content tr.blocked td:nth-of-type(6) b {
    background-color: rgba(0, 19, 110, 0.2);
    }
#content tr.allowed td:nth-of-type(6) b {
    background-color: rgba(0, 160, 0, 0.2);
    }
body.colorBlind #content tr.allowed td:nth-of-type(6) b {
    background-color: rgba(255, 194, 57, 0.2);
    }
    
#popupContainer {
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    }
body.popupOn #popupContainer {
    display: block;
    }
#popupContainer > div {
    background: #aaa;
    border: 0;
    }
body[dir="ltr"] #popupContainer > div {
    text-align: right;
    }
body[dir="rtl"] #popupContainer > div {
    text-align: left;
    }
#popupContainer > div > span {
    color: #eee;
    cursor: pointer;
    display: inline-block;
    font: 14px FontAwesome;
    padding: 0 3px;
    }
#popupContainer > div > span:hover {
    color: white;
    }
#popupContainer > iframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    }
#popupContainer.hide {
    width: 6em !important;
    }
#popupContainer.hide > iframe {
    display: none;
    }

#urlFilteringMenu {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    }
#urlFilteringMenu .dialog {
    background-color: white;
    border: 1px solid gray;
    max-width: 70%;
    padding: 0.2em;
    position: fixed;
    }
#urlFilteringMenu .dialog > div:first-child {
    padding: 0.2em 0.2em 0.4em 0.2em;
    }
#urlFilteringMenu .dialog > div:first-child > * {
    display: inline-block;
    vertical-align: middle;
    }
#urlFilteringMenu .save {
    background-color: #ffe;
    border: 1px solid #ddc;
    border-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 1.8em;
    margin-right: 0.1em;
    padding: 0.1em 0.5em;
    visibility: hidden;
    }
body.dirty #urlFilteringMenu .save {
    visibility: visible;
    }
#urlFilteringMenu .save:hover {
    color: black;
    }
#urlFilteringMenu select {
    font: inherit;
    }
#urlFilteringMenu .entries {
    font-size: 13px;
    max-height: 12em;
    overflow-y: auto;
    }
#urlFilteringMenu .entries > div {
    background-color: #e6e6e6;
    border: 0;
    line-height: 2em;
    margin: 0;
    margin-top: 1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    }
#urlFilteringMenu .entries > div:first-child {
    margin-top: 0;
    }
#urlFilteringMenu .entries > div:hover {
    background-color: #f0f0f0;
    }
#urlFilteringMenu .entries > div > .action {
    background-color: transparent;
    border: 0;
    border-right: 1px solid white;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 3.8em;
    }
#urlFilteringMenu .entries > div > .action.allow {
    background-color: rgba(0, 160, 0, 0.3);
    }
body.colorBlind #urlFilteringMenu .entries > div > .action.allow {
    background-color: rgba(255, 194, 57, 0.4);
    }
#urlFilteringMenu .entries > div > .action.noop {
    background-color: rgba(108, 108, 108, 0.3);
    }
body.colorBlind #urlFilteringMenu .entries > div > .action.noop {
    background-color: rgba(96, 96, 96, 0.4);
    }
#urlFilteringMenu .entries > div > .action.block {
    background-color: rgba(192, 0, 0, 0.3);
    }
body.colorBlind #urlFilteringMenu .entries > div > .action.block {
    background-color: rgba(0, 19, 110, 0.4);
    }
#urlFilteringMenu .entries > div > .action.allow.own {
    background-color: rgba(0, 160, 0, 1);
    }
body.colorBlind #urlFilteringMenu .entries > div > .action.allow.own {
    background-color: rgba(255, 194, 57, 1);
    }
#urlFilteringMenu .entries > div > .action.noop.own {
    background-color: rgba(108, 108, 108, 1);
    }
#urlFilteringMenu .entries > div > .action.block.own {
    background-color: rgba(192, 0, 0, 1);
    }
body.colorBlind #urlFilteringMenu .entries > div > .action.block.own {
    background-color: rgba(0, 19, 110, 1);
    }
#urlFilteringMenu .entries > div > .action > span {
    background-color: transparent;
    border: 0;
    display: inline-block;
    height: 100%;
    opacity: 0.2;
    visibility: hidden;
    width: 33.33%;
    }
#urlFilteringMenu .entries > div > .action > span:before {
    content: '\00A0';
    }
#urlFilteringMenu .entries > div > .action:not(.own):hover > span {
    opacity: 0.2;
    visibility: visible;
    }
#urlFilteringMenu .entries > div > .action:not(.own):hover > span:hover {
    opacity: 0.75;
    }
#urlFilteringMenu .entries > div > .action > .allow {
    background-color: rgb(0, 160, 0);
    }
body.colorBlind  #urlFilteringMenu .entries > div > .action > .allow {
    background-color: rgb(255, 194, 57);
    }
#urlFilteringMenu .entries > div > .action > .noop {
    background-color: rgb(108, 108, 108);
    }
#urlFilteringMenu .entries > div > .action > .block {
    background-color: rgb(192, 0, 0);
    }
body.colorBlind  #urlFilteringMenu .entries > div > .action > .block {
    background-color: rgb(0, 19, 110);
    }
#urlFilteringMenu .entries > div > .url {
    padding: 0 0.25em;
    }
