body {
    background-color: white;
    border: 0;
    float: left;
    font: 13px sans-serif;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    }
h1,h2,h3,h4 {
    margin:  0;
    padding: 4px;
    border: 0;
    color: white;
    background-color: #444;
    text-align: center;
    cursor: pointer;
    }
a {
    color: inherit;
    text-decoration: none;
    }
*:focus {
    outline: 0;
    }
#version {
    margin-left: 1em;
    font-weight: normal;
    font-size: 11px;
    }
body > div {
    background-color: transparent;
    display: inline-block;
    position: relative;
    vertical-align: top;
    }
body > div:nth-of-type(1) {
    direction: rtl; /* scroll bar to the left */
    overflow-y: hidden;
    overflow-x: hidden;
    }
body.dynamicFilteringEnabled > div:nth-of-type(1) {
    overflow-y: auto;
    }
body > div:nth-of-type(2) {
    padding: 4px 12px 0 5px;
    }
p {
    margin: 16px 0;
    white-space: nowrap;
    text-align: center;
    }
#switch .fa {
    margin: 0;
    font-size: 96px;
    color: green;
    cursor: pointer;
    }
#switch .fa:hover {
    opacity: 0.9;
    }
#switch .fa.off {
    color: #ccc;
    }
#switch-hint {
    font-size: 11px;
    color: #888;
    }
[data-i18n="popupBlockedRequestPrompt"] {
    font-size: 16px;
    }
#page-blocked {
    margin-top: 4px;
    font-size: 20px;
    }
#total-blocked {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    }
#stats {
    margin-bottom: 4px;
    text-align: center;
    }
.tool {
    color: #aaa;
    cursor: pointer;
    display: none;
    font-size: 14px;
    unicode-bidi: embed;
    }
.tool.enabled {
    display: inline;
    }
.tool:hover {
    color: #444;
    }

#dynamicFilteringToggler {
    pointer-events: none;
    }
#dynamicFilteringToggler::before {
    color: gray;
    content: '+\202F';
    cursor: pointer;
    font-size: 13px;
    pointer-events: auto;
    }
body.dynamicFilteringEnabled #dynamicFilteringToggler::before {
    content: '\2212\202F';
    }

.dynamicFiltering div > .tip {
    background-color: #fffff4;
    border: 1px solid #888;
    border-radius: 5px;
    bottom: 20%;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.8);
    display: none;
    font-size: small;
    left: 8%;
    padding: 0.25em;
    position: fixed;
    right: 8%;
    text-align: center;
    }
.dynamicFiltering div:not(.blocked):hover > .tip:nth-of-type(1) {
    display: block;
    }
.dynamicFiltering div.blocked:hover > .tip:nth-of-type(2) {
    display: block;
    }
.dynamicFiltering div > .tip code {
    background-color: #f8f8f8;
    font: normal monospace;
    padding: 1px 0;
    }

#dynamicFilteringContainer {
    border: 0;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 7px;
    }
body.dynamicFilteringEnabled #dynamicFilteringContainer {
    display: block;
    width: 280px;
    }
#dynamicFilteringContainer > div {
    background-color: transparent;
    border: 0;
    direction: ltr;
    margin: 0;
    padding: 0;
    width: 280px;
    }
body.dynamicFilteringEnabled #dynamicFilteringContainer > div {
    background-color: #e6e6e6;
    }
body.dynamicFilteringEnabled #dynamicFilteringContainer > div:hover {
    background-color: #f0f0f0;
    }
#dynamicFilteringContainer > div#privacyInfo {
    background-color: white;
    color: gray;
    padding: 4px 0;
    text-align: center;
    }
#dynamicFilteringContainer > div > span {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    color: transparent;
    display: inline-block;
    height: 24px;
    line-height: 28px;
    pointer-events: none;
    vertical-align: top;
    }
body.dynamicFilteringEnabled #dynamicFilteringContainer > div > span {
    color: #000;
    overflow: hidden;
    pointer-events: auto;
    }
#dynamicFilteringContainer > div > span:nth-of-type(1) {
    border-right: 1px solid white;
    padding-right: 4px;
    width: 75%;
    }
#dynamicFilteringContainer > div > span:nth-of-type(2) {
    cursor: pointer;
    width: 9%;
    }
#dynamicFilteringContainer > div > span:nth-of-type(3) {
    border-left: 1px solid white;
    cursor: pointer;
    text-align: center;    
    width: 16%;
    }
#dynamicFilteringContainer > div.isDomain > span:nth-of-type(1) {
    font-weight: bold;
    }
body.dynamicFilteringEnabled #dynamicFilteringContainer > div > span:nth-of-type(3) {
    color: #444;
    pointer-events: auto;
    }
#dynamicFilteringContainer span.blocked[data-src] {
    background-color: #fbb;
    }
#dynamicFilteringContainer span.ownFilter[data-src] {
    background-color: #bbb;
    color: white;
    }
#dynamicFilteringContainer span.blocked.ownFilter[data-src] {
    background-color: #f66;
    color: white;
    }