/* ============================================================
  SETTINGS SPECIFIC
============================================================ */

ul {
  padding-left: 1em;
}

@media screen and (max-width: 500px) {
    ul#userSettings {
        margin: 0px !important;
    }
}

ul#userSettings {
  padding-left: 0;
  margin: 50px;
  margin-top: 20px;
}
li {
  margin-top: 0.25em;
}
ul#userSettings, ul#userSettings ul {
  list-style-type: none;
}
ul#userSettings .subgroup {
  margin: 1em 0 2em;
}
ul#userSettings .subgroup p {
  margin: 0 0 0 50px;
  line-height: 1.5em;
  float:left;
}
ul#userSettings .subgroup .subgroupDescription {
    clear: both;
}
ul#userSettings .subgroup .subgroupDescription p{
    margin-right: 0.3em;
}
div> p:last-child {
  margin-bottom: 0;
}
ul#userSettings .subgroup> span {
  font-size: larger;
  font-weight: bold;
  font-family: 'bebas_neue',sans-serif;
}
ul#userSettings .subgroup> ul {
  padding: 10px 0 10px 44px;
  clear:both;
}
ul#userSettings .subgroup> ul> li label {
  margin-left: 5px;
}
#localData> ul> li {
  margin-top: 1em;
}
#localData> ul> li> ul> li:nth-of-type(2) {
  font-family: monospace;
}
#experimental-enabled {
  margin-top: 1em;
}
#advanced-user-enabled ~ a.fa {
  display: none;
}
body.advancedUser #advanced-user-enabled ~ a.fa {
  display: inline;
}
