body {
    margin-bottom: 6rem;
    }
.synopsis {
    font-size: 90%;
    }
[href="advanced-settings.html"] {
    display: none;
    }
body.advancedUser [href="advanced-settings.html"] {
    display: inline-flex;
    }
#localData > div {
    margin-bottom: var(--default-gap-small);
    }
#localData > div:last-of-type {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    }
#localData > div:last-of-type > button {
    margin-bottom: var(--default-gap-small);
    min-width: 280px;
    }

/* Mobile devices */

:root.mobile #localData {
    max-width: 100vw;
    }
:root.mobile #localData > div:last-of-type {
    align-items: stretch;
    }
:root.mobile #localData > div:last-of-type > button {
    min-width: unset;
    }
