div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#whitelist {
    box-sizing: border-box;
    font-size: small;
    height: 25vh;

	text-align: left;
    white-space: pre;
    width: 100%;
    }
#whitelist.bad {
    background-color: #fee;
    }

#lists {
    padding-left: 0px;
    /*next line for space between two sections*/
    margin-bottom: 10vh;
}

#lists > .groupEntry > .geName {
    font-size: 170%;
}

#lists > .groupEntry > .geCount {
    font-size: 120%;
}

#lists > .groupEntry > .geName:before {
    content: "";
}

#lists > .groupEntry > ul{
    margin: 0.9em 0 0 0;
}

li.listEntry{
    margin-left: 1.8em;
}
