div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#whitelist {
    font-size: small;
    width: 48em;
    height: 40em;
    white-space: pre;
	text-align: left;
    }
#whitelist.bad {
    background-color: #fee;
    }
