div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#whitelist {
  /*  box-sizing: border-box;
    font-size: small;
    height: 25vh;
    text-align: left;
    white-space: pre;
    width: 100%;
    }
#whitelist.bad {
    background-color: #fee;
    }

#lists {
    padding-left: 0px;
    margin-bottom: 10vh;
}

#lists > .groupEntry > .geName {
    font-size: 170%;
}

#lists > .groupEntry > .geCount {
    font-size: 120%;
}

#lists > .groupEntry > .geName:before {
    content: "";
}

#lists > .groupEntry > ul{
    margin: 0.9em 0 0 0;
}

li.listEntry{
    margin-left: 1.8em;
}

li.listEntry > .info{
    margin-left: 0.4em;*/

    border: 1px solid gray;
    height: 60vh;
    margin: 0;
    padding: 1px;
    position: relative;
    resize: vertical;
    }
#whitelist.invalid {
    border-color: red;
    }
#whitelist textarea {
    border: none;
    box-sizing: border-box;
    height: 100%;
    padding: 0.4em;
    resize: none;
    text-align: left;
    white-space: pre;
    width: 100%;
    }
#whitelist textarea + div {
    background-color: red;
    bottom: 0;
    color: white;
    display: none;
    padding: 2px 4px;
    pointer-events: none;
    position: absolute;
    right: 0;
}
#whitelist.invalid textarea + div {
    display: block;
}
